/* div {
    outline: 1px solid red; For debugging layout issues} */


/* DARK MODE CLASS */
/* When dark mode is apllied to body with JS, the other elements will be changed as well */

.dark-mode {
    background-color: #121212 !important;
    color: #e0e0e0 !important;
}

body.dark-mode #menu {
    background-color: #121212 !important;
    /* background-image: url("../images/background.png"); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    /* Keeps the image fixed in the viewport */
    height: 100%;
    width: 100%;
}

body.dark-mode .card-body {
    background-color: #313131 !important;
    color: #e0e0e0 !important;
    border-radius: 6px;
}

body.dark-mode .add-to-order {
    color: #ffffff !important;
    outline: 1px solid #ffffff !important;
}

/* HIDDEN TAG */

.hidden {
  display: none;
}

/* HEADER */

#header-logo {
    background-image: url("../images/logo-line.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    width: 100%;
}

/* MAIN BODY */

#menu {
    background-color: rgba(248, 249, 250, 0.8);
    margin: 0px !important;
}


/* CARDS */

.meal-card {
    font-size: 0.8rem;
    /* max-width: 250px; */
}

.card.h-100 {
    display: flex;
    flex-direction: column;
}

.card-body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.badge {
    width: auto;
}

.bg-danger {
    background-color: #4791bc !important;
    /* Change the background color */
    color: #ffffff;
    /* Change the text color */
}


/* MEDIUM SCREEN QUERY */

@media screen and (min-width: 768px) {

    .meal-card {
        max-width: 250px;
    }

    #searchInput {
        max-width: 350px;
    }

}