/* div {
    outline: 1px solid red; For debugging layout issues} */

#header-logo {
  background-image: url("../images/logo-line.png");
 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width: 100%;
}


.meal-card {
    font-size: 0.8rem;
    max-width: 250px;
}

.card.h-100 {
    display: flex;
    flex-direction: column;
}

.card-body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.badge {
    width: auto;
}

.bg-danger {
    background-color: #4791bc !important; /* Change the background color */
    color: #ffffff; /* Change the text color */
}