/* DARK MODE CLASS */
/* When dark mode is apllied to body with JS, the other elements will be changed as well */

.dark-mode {
    background-color: #121212 !important;
    color: #e0e0e0 !important;
}

body.dark-mode #filterAndSearch {
    background-color: #121212 !important;
}   

body.dark-mode #menu {
    background-color: #121212 !important;
    /* background-image: url("../images/background.png"); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    /* Keeps the image fixed in the viewport */
    height: 100%;
    width: 100%;
}

body.dark-mode .card-body {
    background-color: #313131 !important;
    color: #e0e0e0 !important;
    border-radius: 6px;
}

body.dark-mode .add-to-order {
    color: #ffffff !important;
    outline: 1px solid #ffffff !important;
}

body.dark-mode .modal-content {
    background-color: #313131 !important;
    border: 1px solid #c8c3c3 !important;
}

/* HIDDEN TAGs */

.hidden {
  display: none;
}

.hide-small {
  display: none;
}

/* HEADER */
#header-logo {
    background-image: url("../images/logo-line.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    width: 100%;
}

/* MAIN BODY */

#menu {
    background-color: rgba(248, 249, 250, 0.8);
    margin: 0px !important;
    padding: 0px !important;
}

#filterBox {
    min-width: 265px !important;
}

#filterAndSearch {
  position: sticky;
  top: 0;
  /* margin-top: 30px; */
  padding-top: 20px;
    padding-bottom: 10px;
  z-index: 1000;
  background: #f8f9fa;
}


.search-row {
    padding: 12px;
}

#searchInput {
        max-width: 300px;
        height: 2.2rem;
        border: 1px solid #a9a9a9 !important;
    }

    .btn-tot {
        font-size: 0.7rem !important;
    }


/* CARDS */

.meal-card {
    font-size: 0.8rem;
}

.card.h-100 {
    display: flex;
    flex-direction: column;
}

.card {
    max-width: 40vw;

}

.card-body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover {
    border: 1px solid #09954c !important;
}

.badge {
    width: auto;
}

/* Change the bg and text color for the main dishes badge */
.bg-danger {
    background-color: #4791bc !important;
    color: #ffffff;
}

/* ORDER SUMMARY MODAL */
.order-item {
  display: flex;
  justify-content: space-between;  
  align-items: center;
  margin-bottom: 10px;
  gap: 1rem;
}

.order-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
  max-width: 300px;
}


.order-qty {
  min-width: 3rem;   
  text-align: right;
}

.remove-item {
  cursor: pointer;
  width: 2rem;
  text-align: center;
}

.order-price {
  font-weight: bold;
  min-width: 4.5rem;
  text-align: right;
}

.order-line-spacer {
  width: 300px;
}
/* removes the empty space in small screens */
@media  (max-width: 992px) {
  .order-line-spacer {
    display: none;
  }
}

.order-total {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 10px;
}


/* MEDIUM SCREEN QUERY */
@media screen and (min-width: 768px) {

    .meal-card {
        max-width: 250px;
    }

    .btn-tot {
        font-size: 0.9rem !important;
    }

    .hide-small {
      display: inline;
    }
    
}